<h1>New Artist</h1>

<% if flash[:errors] %> 
<%= flash[:errors] %>
<% end %><br>

<%= form_for @artist do |f| %>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>

    <%= f.label :age, 'Age' %>
    <%= f.text_field :age %>

    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %>

    <%= f.submit %>
<% end %>
