<h1>Artist</h1>

<% if flash[:success] %>
<%= flash[:success] %><br>
<% end %>

<%= @artist.name %><br>
<%= @artist.title %><br>
<%= @artist.age %><br>


<h1>All Artist's Instruments</h1>

<% @artist.instruments.each do |instrument| %>
    <%= instrument.name %><br>
<% end %>